<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275683535602-iu4q97bd3ltis1dlr2kv5mh0j4b1i7vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275683535602-iu4q97bd3ltis1dlr2kv5mh0j4b1i7vv</string>
	<key>API_KEY</key>
	<string>AIzaSyBXAfVX4ejyX0AwGMo_B5My_u2mYJ3OAdY</string>
	<key>GCM_SENDER_ID</key>
	<string>275683535602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koteride.taxi</string>
	<key>PROJECT_ID</key>
	<string>koteride</string>
	<key>STORAGE_BUCKET</key>
	<string>koteride.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275683535602:ios:307e34f7914e0d5363fe6b</string>
	<key>DATABASE_URL</key>
	<string>https://koteride-default-rtdb.firebaseio.com</string>
</dict>
</plist>